 body {
     margin: 0;
     height: 100vh;
     display: flex;
     justify-content: center;
     align-items: center;
     background: black;
     font-family: 'Space Mono', monospace;
 }

 #game-container {
     box-shadow: 0 0 40px rgba(255, 255, 255, 0.1);
 }

 .space-mono-regular {
     font-family: "Space Mono", monospace;
     font-weight: 400;
     font-style: normal;
 }

 .space-mono-bold {
     font-family: "Space Mono", monospace;
     font-weight: 700;
     font-style: normal;
 }

 .space-mono-regular-italic {
     font-family: "Space Mono", monospace;
     font-weight: 400;
     font-style: italic;
 }

 .space-mono-bold-italic {
     font-family: "Space Mono", monospace;
     font-weight: 700;
     font-style: italic;
 }