body {
    margin: 0;
    overflow: hidden;
}

/* stars background */
#stars {
    position: fixed;
    inset: 0;
    z-index: 0;
    pointer-events: none;
}

/* three.js canvas */
#three {
    position: fixed;
    inset: 0;
    z-index: 1;
}