body {
    margin: 0;
    overflow: hidden;
}

#stars {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
}

#three {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    pointer-events: auto;
}

/* ===== CANVAS ===== */
canvas {
    position: fixed;
    inset: 0;
    display: block;
}

#stars {
    z-index: 0;
}

#three {
    z-index: 1;
}

/* ===== MENU ===== */
#menu {
    position: fixed;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%) scale(0.7);

    display: flex;
    flex-direction: column;
    gap: 12px;

    min-width: 240px;

    padding: 26px;

    border-radius: 18px;
}

#menu.show {
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
}

#menu a {
    color: white;
    text-decoration: none;

    padding: 10px 12px;
    border-radius: 10px;

    opacity: 0;
    transform: translateY(10px);

    transition: all 0.4s ease;

    pointer-events: auto;
    position: relative;
    z-index: 999;
}

/* hover */
#menu a:hover {
    background: rgba(255, 255, 255, 0.08);
    transform: translateX(6px);
    box-shadow: 0 0 12px rgba(255, 255, 255, 0.15);
}